name: Test, Build and Deploy

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    name: Build JAR
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Maven project
        run: mvn -B package -DskipTests

      - name: Upload artifact (JAR)
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar

  push:
    name: Push Docker Image
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Download built artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: target

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          mv target/*.jar target/app.jar
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/desafio-target:latest .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/desafio-target:latest
